@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300;400;500;600&display=swap');
:root {
    --bg_fon: #3AAFA9;
    --color_first: #DEF2F1;
    --color_text_1: #333333;
    --color_text_2: #000000;
    --color_text_3: #777777;    
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Taviraj', serif;
}

body {
    min-width: 320px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.first-screen header {
    width: 1170px;
    margin-top: 25px;
}

.first-screen header .logo {
    width: 238px;
    display: flex;
    align-items: center;
}

.first-screen header .logo .logo-background {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: var(--bg_fon);
}

.first-screen header .logo .logo-background img {
    display: flex;
    margin: 6px 5px 16px;
}
.first-screen header .logo span {
    font-weight: 400;
    font-size: 35px;
    margin-left: 10px;
    color: var(--color_text_1);
}

.first-screen header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-screen header .navbar .nav-links .menu {
    width: 442px;
    margin-left: 125px;
    display: flex;
    justify-content: space-between;
}

.first-screen header .navbar .nav-links .menu li {
    list-style: none;
}

.first-screen header .navbar .nav-links .menu a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--color_text_1);
}

.first-screen header .btn-search {
    display: flex;    
}

.first-screen header .btn-search .btn:first-child {
    margin-left: 94px;
}

.first-screen header .btn-search .btn:nth-child(2) {
    margin-left: 68px;
    margin-right: 106px;
}

.first-screen header .btn-search .btn .btn-box {
    width: 94px;
    display: flex;
}

.first-screen header .btn-search .btn .btn-box span {
    width: 54px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 8px;
}

.first-screen header .btn  {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--bg_fon);
}

.first-screen header .btn img {
    display: flex;
    margin: 8px;
}

#checkbox_toogle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hamburger-line {
    background-color: var(--bg_fon);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamburger-line::before, .hamburger-line::after {
    background-color: var(--bg_fon);
    content: '';
    display: block;
    position: absolute;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
}

.hamburger-line::before {
    top: 7px;
}

.hamburger-line::after {
    top: -7px;
}

.first-screen main {
    width: 1070px;
    height: 505px; 
    background-color: var(--bg_fon);
    position: relative;
    border-radius: 25px;
    margin: 75px 15px 211px 100px; 
}

.first-screen main article {
    display: flex;
}

.first-screen main article .box-color h1 {
    width: 413px;  
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    margin: 56px 355px 8px 302px;
}

.first-screen main .border {
    width: 95px;
    border: 1px solid #000000;
    margin: 0px 673px 16px 302px;
}

.first-screen main article .text p {
    width: 469px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 299px 16px 302px;
    color: var(--color_text_1);
}

.first-screen main article .text-with-border p a {
    width: 74px;
    height: 27px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #333333;
    margin: 0 694px 41px 302px;
    color: var(--color_text_1);    
}

.first-screen main article .btn-sale {
    display: flex;
    margin-top: 41px;
    margin-bottom: 65px;
}

.first-screen main article .btn-sale .btn-first a {
    width: 229px;
    display: flex;
    align-items: center;
    background-color: #DEF2F1;
    border-radius: 10px;
    padding: 14px 39px;
    text-decoration: none;
    margin: 0 73px 65px 399px;
}

.first-screen main article .btn-sale .btn-first a .color-circle {
    width: 28px;
    height: 28px;
    background-color: var(--bg_fon);
    border-radius: 100%;
}
.first-screen main article .btn-sale .btn-first a .color-circle img {
    width: 19px;
    height: 12px;  
    margin: 8px 4.5px 7.3px 4px;
}

.first-screen main article .btn-sale .btn-first a p {
    width: 108px;
    font-weight: 400;
    font-size: 20px;
    color: var(--color_text_2);
    margin-left: 15px;
}

.first-screen main article .btn-sale .btn-second a {
    width: 139px;
    display: flex;
    align-items: center;
    background-color: #DEF2F1;
    border-radius: 10px;
    padding: 14px 31px;
    text-decoration: none;
    margin: 0 230px 65px 0;
}

.first-screen main article .btn-sale .btn-second a img {
    width: 20px;
    height: 20px;
    margin-top: 5px;    
}

.first-screen main article .btn-sale .btn-second a p {
    width: 37px;
    font-weight: 400;
    font-size: 20px;
    color: var(--color_text_2);
    margin-left: 15px;
}

.first-screen main article .box-color .btn-arrow {
    width: 60px; 
}

.first-screen main article .box-color .btn-arrow a img {
    padding: 19px 24px 18px 24.5px;
    background-color: #cdeceb;
    border-radius: 10px;
}

.first-screen main article .box-color .btn-arrow:nth-child(2) a img {
    padding: 19px 24.5px 18px 24px;
}

.first-screen main article .box-color .btn-arrow:first-child {
    position: absolute;    
    bottom: -40px;
    right: 110px; 
}

.first-screen main article .box-color .btn-arrow:nth-child(2) {
    position: absolute;
    bottom: -40px;
    right: 35px;
}

.first-screen main article .box-color .image-card {
    position: absolute;
    top: 56px;
    right: 854px;
}

.second-screen .container {
    margin-top: 140px;
}

.second-screen .info-cards {
    display: flex;
    justify-content: space-between;
}

.second-screen .info-cards .left-card {
    width: 571px;
    height: 270px;
    background-color: var(--bg_fon);
    border-radius: 15px;
    position: relative;
}

.second-screen .info-cards .left-card h2{
    width: 269px;
    font-weight: 400;
    font-size: 28px;
    margin: 32px 231px 5px 71px;
    color: var(--color_text_1);
}

.second-screen .info-cards .left-card h2 span {
    font-weight: 600;
}

.second-screen .info-cards .left-card p {
    width: 345px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 155px 5px 71px;
    color: var(--color_text_2);
}

.second-screen .info-cards .left-card a {
    width: 115px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 385px 119px 71px;
    color: var(--color_text_1);
    text-decoration: none;
    border-bottom: 1px solid #333333; 
}

.second-screen .info-cards .left-card img {
    width: 270px;
    height: 134px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 15px;
}

.second-screen .info-cards .right-card {
    width: 571px;
    height: 270px;
    background-color: var(--bg_fon);
    border-radius: 15px;
    text-align: end;
    position: relative;
}

.second-screen .info-cards .right-card h2 {
    width: 306px;
    font-weight: 400;
    font-size: 28px;
    margin: 34px 100px 5px 164px;
    color: var(--color_text_1);
}

.second-screen .info-cards .right-card h2 span {
    font-weight: 600;
}

.second-screen .info-cards .right-card p {
    width: 345px;
    font-weight: 400;
    font-size: 16px;
    margin: 0 100px 5px 125px;
    color: var(--color_text_2);
}

.second-screen .info-cards .right-card a {
    width: 115px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 100px 117px 355px;
    color: var(--color_text_1);
    text-decoration: none;
    border-bottom: 1px solid #333333;  
}

.second-screen .info-cards .right-card img {
    width: 270px;
    height: 134px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.third-screen .container {
    margin-top: 80px;
}

.third-screen h2 {
    width: 259px;
    font-weight: 500;
    font-size: 36px;
    color: var(--color_text_1);
}

.third-screen .info-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.third-screen .info-cards .card {
    width: 271px;
    background-color: var(--bg_fon);
    border-radius: 15px;
    position: relative;
}

.third-screen .info-cards .card .image-card {
    position: absolute;
    top: -40px;
    left: 30px;
}

.third-screen .info-cards .card .info {
    width: 146px;    
    margin: 213px 101px 17px 24px;
}

.third-screen .info-cards .card .info h3 {
    width: 167px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;    
    color: var(--color_text_1);
}

.third-screen .info-cards .card .info span {
    width: 62px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;    
    color: var(--color_text_3);    
}

.third-screen .info-cards .card .info .line-through span {
    width: 98px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--color_text_3);
    text-decoration: line-through #D93F3F;
}

.third-screen .info-cards .card .info p {
    width: 146px;
    font-weight: 400;
    font-size: 24px;
    color: var(--color_text_1);
}

.third-screen .info-cards .card .hidden-btn {
    width: 205px;
    margin: 17px 37px 16px 26px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .35s ease;    
}

.third-screen .info-cards .card:hover .hidden-btn {
    opacity: 1;   
}

.third-screen .info-cards .card .hidden-btn .square-btn {
    width: 39px;
    height: 39px;
    background-color: #DEF2F1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-screen .info-cards .card .hidden-btn .square-btn .circle {
    width: 24px;
    height: 24px;
    background-color: var(--bg_fon);
    border-radius: 100%;
} 

.third-screen .info-cards .card .hidden-btn .square-btn img {
    width: 19px;
    height: 12px;
    margin: 2px;  
}

.third-screen .info-cards .card .hidden-btn .rectangle-btn {
    width: 158px;
    height: 39px;
    background: #DEF2F1;
    border-radius: 10px;
    margin-left: 8px;
}

.third-screen .info-cards .card .hidden-btn .rectangle-btn a {
    width: 86px;
    font-weight: 400;
    font-size: 16px;
    margin: 8px 36px 7px;
    color: var(--color_text_2);
    text-decoration: none;
    display: flex;
}

.fourth-screen .container {
    margin-top: 80px;
}

.fourth-screen h2 {
    width: 228px;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 26px;
    color: var(--color_text_1);
}

.fourth-screen .info-fourth-screen {
    display: flex;
    justify-content: space-between;
}

.fourth-screen .info-fourth-screen .left-box {
    width: 350px;
    margin: 109px 142px 0 8px;
    text-align: center;
}

.fourth-screen .info-fourth-screen .left-box span {
    width: 163px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 8px;
    color: var(--color_text_3);
}

.fourth-screen .info-fourth-screen .left-box h3 {
    width: 100%;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: var(--color_text_1);
    margin-bottom: 61px;  
}

.fourth-screen .info-fourth-screen .left-box .btn {
    width: 160px;
    margin: 0 auto 158px;
}

.fourth-screen .info-fourth-screen .left-box .btn a {
    width: 66px;
    padding: 16px 47px;        
    background: #cdeceb;
    border-radius: 10px;    
    text-decoration: none;
}

.fourth-screen .info-fourth-screen .right-box {
    width: 670px;
    height: 400px;
    background-color: var(--bg_fon);
    border-radius: 20px;
    margin-bottom: 85px;
    position: relative;
}

.fourth-screen .info-fourth-screen .right-box .image-card {
    position: absolute;
    top: 80px;
    left: -100px;
}

.fifth-screen .container {
    margin-top: 80px;
}

.fifth-screen .product-list {
    display: flex;
    justify-content: space-between;
    color: var(--color_text_1);
}

.fifth-screen .product-list .box {
    width: 370px;
}

.fifth-screen .product-list .box h3 {
    width: 169px;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    margin: 0 auto 60px;
}

.fifth-screen .product-list .box .our-products .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}

.fifth-screen .product-list .box .our-products .flex .info {
    width: 204px;
}

.fifth-screen .product-list .box .our-products .flex .info p {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.02em;
    margin-bottom: 4.29px;
}

.fifth-screen .product-list .box .our-products .flex .info span {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.02em;
}

.fifth-screen .product-list .box:nth-child(2) h3 {
    width: 230px;
    text-align: center;
}

.fifth-screen .product-list .box:nth-child(2) .our-products .flex .info p:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    text-decoration: line-through #D93F3F;
}

.sixth-screen .container {
    margin-top: 80px;
}

.sixth-screen .info-sixth-screen {
    width: 1071px;
    display: flex;
    justify-content: space-between;
}

.sixth-screen .info-sixth-screen .left-box {
    width: 434px;
    height: 253px;
    background-color: var(--bg_fon);
    border-radius: 20px;
    margin-bottom: 85px;
    position: relative;
}

.sixth-screen .info-sixth-screen .left-box .image-card {
    position: absolute;
    top: 57px;
    right: -136px;
}

.sixth-screen .info-sixth-screen .right-box {
    width: 469px;
}

.sixth-screen .info-sixth-screen .right-box h2 {
    width: 231px;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    margin: 0 81px 58px 157px;
    color: var(--color_text_1);
}

.sixth-screen .info-sixth-screen .right-box p {
    width: 469px;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.03em;
    margin: 0 auto 34px;
    color: var(--color_text_1);
}

.sixth-screen .info-sixth-screen .right-box h3 {
    width: 139px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 2px;
    color: var(--color_text_1);
}

.sixth-screen .info-sixth-screen .right-box span {
    width: 206px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 21px;
    color: var(--color_text_3);
}

.sixth-screen .btn-sixth-screen {
    width: 135px;
    display: flex;
    justify-content: space-between;
    margin: 21px 600px 80px 435px;
}

.sixth-screen .btn-sixth-screen .btn {
    width: 60px;    
}

.sixth-screen .btn-sixth-screen .btn a img {
    padding: 19px 24px 18px 24.5px;
    background-color: #cdeceb;
    border-radius: 10px;
}

.sixth-screen .btn-sixth-screen .btn:nth-child(2) a img {
    padding: 19px 24.5px 18px 24px;
}

.seventh-screen .container {
    margin: 122px auto 145px;
}

.seventh-screen .info-cards {
    width: 1165px;
    display: flex;
    margin: auto;
    position: relative;
}

.seventh-screen .info-cards h2 {
    width: 540px;
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.03em;
    color: var(--color_text_2);
    background-color: var(--bg_fon);
    border-radius: 10px;
    padding: 19px 193px;
    position: absolute;
    top: -42px;
    left: 310px;
}

.seventh-screen .info-cards .cards {
    width: 100%;
    display: flex;
}

.eighth-screen {
    background-color: #DEF2F1;
    
}

.eighth-screen .container {
    margin: 0 auto;
    position: relative;
    
}

.eighth-screen .info-eighth-screen h2 {
    width: 1110px;
    font-weight: 500;
    font-size: 45px;
    line-height: 77px;
    letter-spacing: 0.02em;
    color: var(--color_text_1);
    background-color: var(--bg_fon);
    border-radius: 10px;
    padding: 27px 444px;
    position: absolute;
    top: -65px;
    left: 30px;
}

.eighth-screen .info-eighth-screen .information-list {
    display: flex;
    color: var(--color_text_1)
}

.eighth-screen .info-eighth-screen .information-list .first-box {
    width: 255px;
    margin: 106px 0 68px;
}

.eighth-screen .info-eighth-screen .information-list .first-box div:first-child {
    width: 79px;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02em;
}

.eighth-screen .info-eighth-screen .information-list .first-box div:nth-child(2) {
    width: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.03em;
    margin-top: 2px;
}

.eighth-screen .info-eighth-screen .information-list .first-box div:nth-child(3) {
    width: 117px;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    margin-top: 23px;
}

.eighth-screen .info-eighth-screen .information-list .first-box div:last-child {
    width: 139px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-top: 2px;
}

.eighth-screen .info-eighth-screen .information-list .second-box {
    width: 254px;
    margin: 106px 0 125px 45px;
}

.eighth-screen .info-eighth-screen .information-list .second-box h3 {
    width: 156px;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.01em;
    border-bottom: 1px solid #333333;
    margin-bottom: 16px;
}

.eighth-screen .info-eighth-screen .information-list .second-box .flex {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.eighth-screen .info-eighth-screen .information-list .second-box .flex p {
    width: 97px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
}

.eighth-screen .info-eighth-screen .information-list .second-box .flex span {
    width: 121px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.03em;
    margin-left: 36px;
}

.eighth-screen .info-eighth-screen .information-list .third-box {
    width: 185px;
    margin: 106px 0 48px 47px;
}

.eighth-screen .info-eighth-screen .information-list .third-box h3, .fourth-box h3 {
    width: 148px;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.01em;
    border-bottom: 1px solid #333333;
    margin-bottom: 31px;
}

.eighth-screen .info-eighth-screen .information-list .third-box p, .fourth-box p {
    width: 185px;   
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.03em;
}

.eighth-screen .info-eighth-screen .information-list .third-box a, .fourth-box a {
    text-decoration: none;
    color: var(--color_text_1);
}

.eighth-screen .info-eighth-screen .information-list .fourth-box {
    width: 185px;
    margin: 106px 85px 48px 114px;
}

.eighth-screen .info-eighth-screen .information-list .btn-up img {
    width: 60px;
    height: 60px;
    margin-top: 3px;
    padding: 5px 10px;
    background-color: #3AAFA9;
    border-radius: 100px;
    position: absolute;
    top: 364px;
    right: 30px;
}